html, body{height: 100%;}
img{max-width: 100%;}
#cover{
    background: url(../img/wiese2.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    height:100%;
    text-align: center;
    display: flex;
    align-items: center;
}
#titelzeile{
    width: 100%;
    background-color: rgba(9, 57, 11, 0.7);
}
.navbar{ background-color: rgba(9, 57, 11, 0.7) }